# BEGIN_ICS_COPYRIGHT8 ****************************************
# 
# Copyright (c) 2022, Intel Corporation
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
#     * Redistributions of source code must retain the above copyright notice,
#       this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Intel Corporation nor the names of its contributors
#       may be used to endorse or promote products derived from this software
#       without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# 
# END_ICS_COPYRIGHT8   ****************************************

#[ICS VERSION STRING: unknown]
#
# Sample systemd service file to run dsa_setup at system boot
# To use this:
# 1. copy /usr/share/eth-tools/samples/dsa_setup to /usr/local/bin/dsa_setup
# 2. edit /usr/local/bin/dsa_setup as needed to define the desired workload
# 3. copy this file to /etc/systemd/system/dsa.service
# 4. edit /etc/systemd/system/dsa.service to use the proper -D, -w and -u
#    options for the dsa_setup command below.  Make other edits as needed.
# 5. run: systemctl --now enable dsa.service
#    or run systemctl enable dsa.service and reboot
#
[Unit]
Description=Create DSA workqueues via dsa_setup
# unfortunately, there is not an existing service which represents
# idxd driver device enumeration, these selections will put dsa.service
# late in the boot and then as needed the dsa_setup -T option will wait
After=network.target loadmodules.service local-fs.target
#After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dsa_setup -D 8 -T 10 -w ai -u :mygroup
TimeoutSec=0

[Install]
WantedBy=multi-user.target
